/app/config/parameters.yml
/build/
/phpunit.xml
/var/
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/vendor/
/web/bundles/
.idea/inspectionProfiles/
.idea/modules.xml
.idea/mooc-symfony-iteration-8.iml
.idea/workspace.xml
Supprimerait src/OC/PlatformBundle/Entity/
Supprimerait src/OC/PlatformBundle/Repository/
